<div class='row'>
	<div class="container well">
		<h2><i class="fa fa-plug"></i> Activities &amp; Experiences</h2>
		<hr />
		<dl class="pull-left col-xs-10">
			<dt>DePaul University Silicon Valley Research Trip</dt>
			<ul>
				<li>Researched and studdied the Silicon Valley Information Technology Cluster and tech startup culture - <a href="http://facweb.cs.depaul.edu/yele/Course/Silicon/index.html" target="blank">Research Trip Class Page</a></li>
				<li>Toured of Google, Facebook, ebay Now, Intel, Square Inc., Freewheel, Yahoo!, and Evernote</li>
				<li>Met with executives, project managers, engineers, Vc &amp; angel investors to learn the heart of the industry </li>
			</ul>				
		</dl>
		<dl class="pull-right col-sm-2">
			<dt>Silicon Valley, CA</dt>
			<dd>Summer 2013</dd>
		</dl>
		<dl class="pull-left col-sm-10">
		<dt>WebSires &amp; Freelance Web Develpoment</dt>
		<dd>Co-Founded WebSires, a web design collective</dd>
			<ul>
				<li>Primarily focused in Web Applications, but offer a "You dream it, 
				we build it attitude"</li>
				<li>Work with an array of clients, in different industries</li>
			</ul>
		</dl>
		<dl class="pull-right col-sm-2">		
			<dt>Chicago, IL</dt>
			<dd>Winter 2015</dd>
		</dl>
		<dl class="pull-left col-sm-10">
			<dt>Vice President of The National Society of Leadership and Success - 
			DePaul Chapter</dt>
			<ul>
				<li>Organized team meetings and weekly deliverables</li>
				<li>Created Weekly letters to students</li>
				<li>Achieved full induction</li>
			</ul>
		</dl>
		<dl class="pull-right col-sm-2">
			<dt>Chicago, IL</dt>
			<dd>2011 - 2014</dd>
		</dl>

	</div>
</div>