<div class="row">
	<div class="container well" id="content">
		<h2><i class="fa fa-graduation-cap"></i> Education</h2>
		<hr />
		<dl class="pull-left col-xs-10">
			<dt>DePaul University, College of Computing and Digital Media</dt>
			<dd>Bachelor of Science in Interactive And Social Media</dd>
		</dl>
		<dl class="pull-right col-sm-2">
			<dt>Chicago, IL</dt>
			<dd>June 2014</dd>
		</dl>
	</div>
</div>