<div class="row">
	<div class="container well">
		<h2><i class="fa fa-desktop"></i> Experience</h2>
		<hr />
		<dl class="pull-left col-xs-10">
			<dt>Young Men's Educational Network - YMEN</dt>
			<dd>Project Manager overseeing 14 people &amp; Co-Lead
			Developer Database Web Application</dd>
			<ul>
				<li>Worked with others to create a private cloud system to store sensitive
				client information using Ruby on Rails</li>
				<li>Curated and participated in meetings with client and other stakeholders</li>
				<li>Deployed the first Ruby on Rails application on DePaul's web servers.</li>
				<li>Oversaw development life cycle phase, creating an Android app, and 
					information Kiosk </li>
			</ul>
		</dl>
		<dl class="pull-right col-sm-2">
			<dt>Chicago, IL</dt>
			<dd>Spring 2014</dd>
		</dl>
		<dl class="pull-left col-xs-10">
			<dt>Digital youth Network and Indiana University</dt>
			<dd>Project Manager and Co-Lead developer Circuit Simulator Web Application</dd>
			<ul>
				<li>Created a youth friendly education tool &amp; web application </li>
				<li>Developed the first interactive web based circuit simulator to teach
				young students how to create e-textile circuits</li>
			</ul>
		</dl>
		<dl class="pull-right col-sm-2">
			<dt>Chicago, IL</dt>
			<dd>Winter 2014</dd>
		</dl>
		<dl class="col-xs-10">
			<dt>Chicago Entertainment &amp; Solar-Gear</dt>
			<dd>Co-Owner and Lead developer, delivering Wearable-Solar-Technology</dd>
			<ul>
				<li>Incepted two renewable energy companies, based around community</li>
				<li>Oversee entire lifecycle phase of two e-commerce sites</li>
				<li>Promote an active Social media campaign</li>
				<li>Sales representative at all Solar-Gear events</li>
			</ul>
		</dl>
		<dl class="pull-right col-sm-2">
			<dt>Chicago, IL</dt>
			<dd>Summer 2012</dd>
		</dl>
	</div>
</div>