<div class="row well">
	<div class="container col-xs-12">
		<h1>2014</h1>
		<hr />
		<!--Projects -->
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "circuits.png", class: "img-responsive img-rounded" %>
				<h3>Circuit Simulator</h3>
				<p>An educational tool based around the needs of pre-teen students, and 
				the advancement of e-textile circuitry. </p>
			</div>	

			<div class="col-md-4">
				<%= image_tag "ymen.png", class: "img-responsive img-rounded"%>
				<h3>Ymen</h3>
				<p>Ymen database is a secure Ruby on Rails Web Application built for ease of
				use and used to store information regarding Ymens clients. </p>
			</div>
		</div>
	</div>
</div>
