<div class="row">
	<div class="container well small-name">
		<div class="row">
			<div class="col-md-2 col-md-offset-4">
				<img src="http://placehold.it/150x150" class="img img-circle">
			</div>
			<div class="col-md-3 left-align">
				<h1>Grant Weiss</h1>
				<h3>Web Developer</h3>
				<h4>Life Enthusiast</h4>
			</div>
		</div>
		<div class="row">
			<div class="container col-md-8 col-md-offset-4">
				<ul class="list-inline left-align">
					<li><h4><i class="fa fa-map-marker"></i>&nbsp; Chicago, IL</h4></li> |
					<li><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:grant.sweiss@gmail.com">
					Grant.Sweiss@gmail.com</a></li> |
					<li><h4><i class="fa fa-linkedin-square"></i>&nbsp; <a href="https://www.linkedin.com/in/grant-weiss-2aa86183?trk=hp-identity-name" target="blank">Linkedin</a></h4></li> |
					<li><h4><i class="fa fa-github-square"></i>&nbsp; <a href="https://github.com/grantweiss" target="blank">GitHub</a></h4></li>
				</ul>	
			</div>
		</div>
	</div>
</div>