<div class="row">
	<div class="container col-xs-12 well">
		<h2><i class="fa fa-globe"></i> Interests</h2>
		<hr />
		<ul>
			<li>Accomplished Musician</li>
			<li>Backpacking and Hiking Expeditions (Yosemite National Park Obsessor)</li>
			<li>High-Line rigging, and Performance</li>
			<li>Rock climbing and Mountaineering</li>
		</ul>
	</div>
</div>

