<div class="row">
	<div class="container well">
		<h2><i class="fa fa-code"></i> Software and Computer Knowledge</h2>
		<hr />
		<dl class="dl-horizontal">
			<dt>Expeirnced with:</dt>
			<dd>Ruby, Rails, Javascript, HTML/ CSS, Jquery, Ajax, Git, SQL,
					Agile Development (Scrum), Bootstrap, Foundation, Software Project Managment,
					WordPress, Drupal, Weebly, Wix, Axure, Heroku Deployment</dd>

			<dt>Familiar with:</dt>
			<dd>Java, GML, Python, PHP, PostgreSQL, MySQL, SQLite </dd>
		</dl>
	</div>
</div>