<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%=link_to "Resume", :action => "index" %></li>
        <li class=""><%= link_to "Projects", :action => "projects" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<div class="row">
		<div class="container well small-name">
			<div class="row">
				<div class="col-md-2 col-md-offset-4">
					<img src="http://placehold.it/150x150" class="img img-circle">
				</div>
				<div class="col-md-3 left-align">
					<h1>Grant Weiss</h1>
					<h3>Full stack engineer</h3>
					<h4>Life Enthusiast</h4>
				</div>
			</div>
			<div class="row">
				<div class="container col-md-8 col-md-offset-4">
					<ul class="list-inline left-align">
						<li><h4><i class="fa fa-map-marker"></i>&nbsp; Chicago, IL</h4></li> |
						<li><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:grant.sweiss@gmail.com">
						Grant.Sweiss@gmail.com</a></li> |
						<li><h4><i class="fa fa-linkedin-square"></i>&nbsp; <a href="https://www.linkedin.com/in/grant-weiss-2aa86183?trk=hp-identity-name" target="blank">Linkedin</a></h4></li> |
						<li><h4><i class="fa fa-github-square"></i>&nbsp; <a href="https://github.com/grantweiss" target="blank">GitHub</a></h4></li>
					</ul>	
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container well" id="content">
			<h2><i class="fa fa-graduation-cap"></i> Education</h2>
			<hr />
			<dl class="pull-left col-xs-10">
				<dt>DePaul University, College of Computing and Digital Media</dt>
				<dd>Bachelor of Science in Interactive And Social Media</dd>
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Chicago, IL</dt>
				<dd>June 2014</dd>
			</dl>
		</div>
	</div>

	<div class="row">
		<div class="container well">
			<h2><i class="fa fa-code"></i> Software and Computer Knowledge</h2>
			<hr />
			<dl class="dl-horizontal">
				<dt>Expeirnced with:</dt>
				<dd>Ruby, Rails, Javascript, HTML/ CSS, Jquery, Ajax, Git, SQL,
						Agile Development (Scrum), Bootstrap, Foundation, Software Project Managment,
						WordPress, Drupal, Weebly, Wix, Axure, Heroku Deployment</dd>

				<dt>Familiar with:</dt>
				<dd>Java, GML, Python, PHP, PostgreSQL, MySQL, SQLite </dd>
			</dl>
		</div>
	</div>

	<div class="row">
		<div class="container well">
			<h2><i class="fa fa-desktop"></i> Experience</h2>
			<hr />
			<dl class="pull-left col-xs-10">
				<dt>Young Men's Educational Network - YMEN</dt>
				<dd>Project Manager overseeing 14 people &amp; Co-Lead
				Developer Database Web Application</dd>
				<ul>
					<li>Worked with others to create a private cloud system to store sensitive
					client information using Ruby on Rails</li>
					<li>Curated and participated in meetings with client and other stakeholders</li>
					<li>Deployed the first Ruby on Rails application on DePaul's web servers.</li>
					<li>Oversaw development lifescyle phase, creating an Android app, and 
						information Kiosk </li>
				</ul>
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Chicago, IL</dt>
				<dd>Spring 2014</dd>
			</dl>
			<dl class="pull-left col-xs-10">
				<dt>Digital youth Network and indiana Universtiy</dt>
				<dd>Project Manager and Co-Lead developer Circuit Simulator Web Application</dd>
				<ul>
					<li>Created a youth friendly education tool &amp; web application </li>
					<li>Developed the first interactive web based circuit simulator to teach
					young students how to create e-textile circuits</li>
				</ul>
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Chicago, IL</dt>
				<dd>Winter 2014</dd>
			</dl>
			<dl class="col-xs-10">
				<dt>Chicago Entertainment &amp; Solar-Gear</dt>
				<dd>Co-Owner and Lead developer, delivering Wearable-Solar-Technology</dd>
				<ul>
					<li>Inccepted two renewable energy companies, based around community</li>
					<li>Oversee entire lifecycle phase of two e-commerce sites</li>
					<li>Promote an active Social media campaign</li>
					<li>Sales representitive at all Solar-Gear events</li>
				</ul>
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Chicago, IL</dt>
				<dd>Summer 2012</dd>
			</dl>
		</div>
	</div>

	<div class='row'>
		<div class="container well">
			<h2><i class="fa fa-plug"></i> Activities &amp; Experiences</h2>
			<hr />
			<dl class="pull-left col-xs-10">
				<dt>DePaul University Silicon Valley Research Trip</dt>
				<ul>
					<li>Researched and studdied the Silicon Valley Information Technology Cluster and tech startup culture - <a href="http://facweb.cs.depaul.edu/yele/Course/Silicon/index.html" target="blank">Research Trip Class Page</a></li>
					<li>Toured of Google, Facebook, ebay Now, Intel, Square Inc., Freewheel, Yahoo!, and Evernote</li>
					<li>Met with executives, project managers, engineers, Vc &amp; angel investors to learn the heart of the industry </li>
				</ul>				
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Silicon Valley, CA</dt>
				<dd>Summer 2013</dd>
			</dl>
			<dl class="pull-left col-sm-10">
			<dt>WebSires &amp; Freelance Web Develpoment</dt>
			<dd>Co-Founded WebSires, a web design collective</dd>
				<ul>
					<li>Primarily focused in Web Applications, but offer a "You dream it, 
					we build it attitude"</li>
					<li>Work with an array of clients, in different industries</li>
				</ul>
			</dl>
			<dl class="pull-right col-sm-2">		
				<dt>Chicago, IL</dt>
				<dd>Winter 2015</dd>
			</dl>
			<dl class="pull-left col-sm-10">
				<dt>Vice President of The National Society of Leadership and Success - 
				DePaul Chapter</dt>
				<ul>
					<li>Organized team meetings and weekly deliverables</li>
					<li>Created Weekly letters to students</li>
					<li>Achieved full induction</li>
				</ul>
			</dl>
			<dl class="pull-right col-sm-2">
				<dt>Chicago, IL</dt>
				<dd>2011 - 2014</dd>
			</dl>

		</div>
	</div>

	<div class="row">
		<div class="container col-xs-12 well">
			<h2><i class="fa fa-globe"></i> Interests</h2>
			<hr />
			<ul>
				<li>Accomplished Musician</li>
				<li>Backpacking and Hiking Expeditions (Yosemite National Park Obsessor)</li>
				<li>High-Line rigging, and Performance</li>
				<li>Rock climbing and Mountaineering</li>
			</ul>
		</div>
	</div>
</div> <!-- Closing Div for container -->


