<!-- Start content -->
<div class="container col-xs-10-offset-2">
	<div class="row well">
		<h1 class="center">Projects Portfolio</h1>
	</div>
	<%= render "resume/second" %>
	<%= render "resume/first" %>
</div>