<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li><%=link_to "Resume", :action => "index" %></li>
			<li><%= link_to "Projects", :action => "projects" %></li>
		</ul>
	</div>
</nav>

<div class="container col-xs-10-offset-2">
	<div class="row well">
		<h1 class="center">Projects Portfolio</h1>
	</div>

	<div class="row well">
		<div class="container col-xs-12">
			<h1>2014</h1>
			<hr />
			<!--Projects -->
			<div class="row">
				<div class="col-md-4">
					<img src="assets/circuits.png" class="img-responsive img-rounded">
					<h3>Circuit Simulator</h3>
					<p>An educational tool based around the needs of pre-teen students, and 
					the advancement of e-textile circuitry. </p>
				</div>	

				<div class="col-md-4">
					<img src="assets/ymen.png" class="img-responsive img-rounded">
					<h3>Ymen</h3>
					<p>Ymen database is a secure Ruby on Rails Web Application built for ease of
					use and used to store information regarding Ymens clients. </p>
				</div>
			</div>
		</div>
	</div>

	<div class="row well">
		<div class="container col-xs-12">
			<h1>2015</h1>
			<hr />
			<!-- Projects -->
			<div class="row">
				<div class="col-md-4">
					<img src="assets/festival-gear.png" class="img-responsive img-rounded">
					<h3>Festival-Gear</h3>
					<p>Festival-Gear is a festival-folk focused comapny to provide renewable energy
					to festival-goers to reduce enviromental impact</p>
				</div>

				<div class="col-md-4">
				<img src="assets/solar-gear.png" class="img-responsive img-rounded">
					<h3>Solar-Gear</h3>
					<p>Solar-Gear is a Wearble-Solar-Technology Company aimed to bring solar equipment to the public</p>
				</div>

				<div class="col-md-4">
					<img src="assets/nest-designs" class="img-responsive img-rounded">
					<h3>Nest Designs. inc</h3>
					<p>Client Website for Nest Designs Inc. Suburban home staging</p>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="assets/vmkdaily.png" class="img-responsive img-rounded">
					<h3>Vmkdaily</h3>
					<p>Vmkdaily is a tech blog focsed souley around the education and topics
					of Vmware and associated topics</p>
				</div>
			</div>
		</div>		
	</div>
</div>